@using iziWSH_V2.Models
@model List<Cliente>

@{
    
    ViewBag.Title = "Aprovar Colaboradores";
}

<div style="margin-top:30px" style="background-color:white; border-radius:1%;">
    

    @foreach (Cliente clienteCadastrado in Model)
    {
        using (Html.BeginForm("AprovarColaborador", "Cliente", FormMethod.Post,
                                        new
                                        {
                                            @class = "form-horizontal",
                                            @enctype = "multipart/form-data"
                                        }))
        {
            <div class="form-group">
                @Html.LabelFor(model => clienteCadastrado.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => clienteCadastrado.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => clienteCadastrado.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div align="center" class="card border-secondary mb-3"
                 style="text-align:center;margin-bottom:30px;border:groove; border-radius:5px;">
                <div class="card-header"><b>Nome: @clienteCadastrado.Nome</b></div>
                <div><b>CPF: @clienteCadastrado.Cpf</b></div>
                <img class="img-thumbnail" src="~/Imagens/@clienteCadastrado.ImagemCpf"
                     alt="@clienteCadastrado.Cpf" style="width:50%  ;height:300px;
                    margin-bottom:15px;margin-left:25%;" /><br />

                <div><b>RG: @clienteCadastrado.Rg</b></div>
                <img class="img-thumbnail" src="~/Imagens/@clienteCadastrado.ImagemRg"
                     alt="@clienteCadastrado.Rg" style="width:50%  ;height:300px;
                    margin-bottom:15px;margin-left:25%;" /><br />

                <div><b>Selfie com documento:</b></div>
                <img class="img-thumbnail" src="~/Imagens/@clienteCadastrado.Selfie"
                     alt="Selfie" style="width:50%  ;height:300px;
                    margin-bottom:15px;margin-left:25%;" /><br />
                <div id="Botao" align="center" class="form-group">

                    @Html.ActionLink("Aceitar", "AprovarColaborador", "Cliente",
                            new { id = clienteCadastrado.Id }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Rejeitar", "RejeitarColaborador", "Cliente",
                            new { id = clienteCadastrado.Id }, new { @class = "btn btn-outline-danger" })
                </div>
            </div>
        }
    }
</div>
